include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - local: .gitlab/ci/*.yml

stages:
  - test
  - swagger
  - build
  - deploy

variables:
  ## Git
  GIT_DEPTH: 1
  ## DCS
  CACHE_SHARED: "true"
  CACHE_COMPRESSION_LEVEL: "fast"
  FF_USE_FASTZIP: "true"
  ## Go env
  GO111MODULE: "on"
  GOPROXY: "https://goproxy.cn,direct"
  GOCACHE: "${CI_PROJECT_DIR}/.cache/go-build"
  GOMODCACHE: "${CI_PROJECT_DIR}/.cache/go-mod"
  GOLANGCI_LINT_CACHE: "${CI_PROJECT_DIR}/.cache/golangci-lint"
  ## Test
  TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX: "$ALI_ACR_REGISTRY"
  TESTCONTAINERS_RYUK_DISABLED: true
  # GIN
  GIN_MODE: "release"

## Secret Detection ###################################
secret_detection:
  extends: .secret-analyzer
  image: opencsg-registry.cn-beijing.cr.aliyuncs.com/opencsghq/secrets:6
  rules:
    - if: $SECRET_DETECTION_DISABLED == 'true' || $SECRET_DETECTION_DISABLED == '1'
      when: never
    - if: $CI_COMMIT_BRANCH
  script:
    - /analyzer run
  needs: []