# Binaries
bin
.vscode
.DS_Store
.envrc

/gitea
/pgdata
minio_data
local_only
/jetstream
.env
docker-compose-leida.yml
run_account_local.sh
run_callback_local.sh
run_deploy_runner_local.sh
run_rproxy_local.sh
run_server_local.sh
run_user_local.sh
run_aigateway_local.sh
run_server_my_local.sh
cmd/csghub-server/__debug_*
run_dataviewer_local.sh
local.toml

.data
/data
*/*/_api_test/
redis/dump.rdb
run_server_local.sh

**/loki-data/
**/tempo-data/
