# Binaries
bin

.vscode
.zed
.idea
.trae

.DS_Store
.envrc
.codesouler
/gitea
/pgdata
/keys
/outputs

# Logs
*.log
logs

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Test coverage
coverage

# Go coverage
*.out
*.test

# Temporary files
tmp
*.swp
*.swo
*~

.venv

*.pem
*.key
*.pub
*.crt

# Kubernetes files
*.kubeconfig

# Terraform files
*.tfstate
*.tfstate.backup
.terraform/

# Prometheus
prometheus.yml

# Loki
loki-config.yml

/data
*/*/_api_test/
redis/dump.rdb

**/loki-data/
**/tempo-data/
