aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiorwlock==1.5.0
aiosignal==1.4.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
async-timeout==5.0.1
attrs==25.4.0
blinker==1.9.0
brotli==1.2.0
cachetools==5.5.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
distro==1.9.0
exceptiongroup==1.3.1
fastapi==0.128.0
fastuuid==0.14.0
ffmpy==1.0.0
filelock==3.20.1
frozenlist==1.8.0
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.45
gradio==6.2.0
gradio_client==2.0.2
groovy==0.1.2
grpcio==1.67.1
h11==0.16.0
h2==4.1.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
jiter==0.12.0
jq==1.8.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
linkify-it-py==2.0.3
litellm==1.80.11
loguru==0.7.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.25.0
mcputil==0.6.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
multidict==6.7.0
narwhals==2.14.0
nats-py==2.9.0
numpy==1.26.4
openai==2.14.0
orjson==3.11.5
packaging==24.2
pandas==2.3.3
pillow==10.4.0
platformdirs==4.5.1
propcache==0.4.1
protobuf==4.25.8
pyarrow==22.0.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
pygtrie==2.5.0
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==13.9.4
rpds-py==0.30.0
safehttpx==0.1.7
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sse-starlette==3.1.1
starlette==0.50.0
streamlit==1.33.0
tenacity==8.5.0
textual==0.85.1
tiktoken==0.12.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.4
tqdm==4.67.1
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
urllib3==2.6.2
uvicorn==0.40.0
watchdog==6.0.0
yarl==1.22.0
zipp==3.23.0
coagent-python==0.1.3
csghub-sdk==0.8.2