name: PR Dependency Check

on:
  pull_request:
    branches: ["*"]
  issue_comment:
    types: [created, edited, deleted]
  pull_request_target:
    types: [opened, edited, synchronize]

permissions:
  issues: read
  pull-requests: read

jobs:
  check_dependencies:
    runs-on: ubuntu-latest
    name: Check Dependencies
    steps:
    - uses: gregsdennis/dependencies-action@main
      with:
        custom-domains: my-custom-domain.io another.domain.com
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


