name: Go

on:
  push:
    branches: ["*", "*/*"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=10m
          version: latest
      - name: GinContext
        run: go run linters/gincontext/main.go
  swagger:
    name: swagger-gen
    strategy:
      matrix:
        go: ["1.25"]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        with:
          go-version: ${{ matrix.go }}
        uses: actions/setup-go@v2

      - uses: actions/checkout@v2

      - name: Gen
        run: |
          go install github.com/swaggo/swag/cmd/swag@latest
          make swag
  test:
    name: test
    strategy:
      matrix:
        go: ["1.25"]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        with:
          go-version: ${{ matrix.go }}
        uses: actions/setup-go@v2

      - uses: actions/checkout@v2

      - name: Test
        run: go test ./...
